@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222;
  --foreground: #222;
  --text-color-primary: #0f172a;
  --title-color-primary: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #222;
    --text-color-primary: #f8fafc;
    --title-color-primary: #f8fafc;
  }
}

html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}